@model IEnumerable<BookManager.Domain.Models.User>
@{
    ViewData["Title"] = "User List";
}



<div class="container p-4">
    <div class="row pb-2">
        <div class="col-md-10 ms-auto me-auto border border-primary p-3">
            <div class="d-flex justify-content-between">
                <h5>User List</h5>
                <a asp-controller="Users" asp-action="Create" class="btn btn-sm btn-primary"><i class="bi bi-plus-circle-fill"></i>&nbsp;New User</a>
            </div>
            <hr />
            <table class="table table-sm table-striped table-hover">
                <thead>
                    <tr>
                        <th>Name</th>
                        <th>Username</th>
                        <th>Role</th>
                        <th>Status</th>
                        <th width="20%">Actions</th>
                    </tr>
                </thead>
                <tbody>
                    @foreach (var user in Model)
                    {
                        <tr>
                            <td>@user.Name</td>
                            <td>@user.UserName</td>
                            <td>@user.Role</td>
                            <td>@(user.Status ? "Active" : "Inactive")</td>
                            <td>
                                <div class="w-100">
                                    <a asp-controller="Users" asp-action="Edit" asp-route-id="@user.Id" class="btn btn-sm btn-info"><i class="bi bi-pencil-square"></i>&nbsp;Edit</a>
                                    <a asp-controller="Users" asp-action="Delete" asp-route-id="@user.Id" class="btn btn-sm btn-danger"><i class="bi bi-trash"></i>&nbsp;Delete</a>
                                </div>
                            </td>
                        </tr>
                    }
                </tbody>
            </table>
        </div>
    </div>
</div>



